# Database
DATABASE_URL=postgresql://cozytrack:cozytrack@localhost:5433/cozytrack

# LiveKit
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=cozytrack-local-livekit-secret-32
LIVEKIT_URL=ws://localhost:7880

# AWS S3
# Optional if you use a local AWS profile or other default AWS SDK credentials.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-west-2
S3_BUCKET_NAME=cozytrack-dev-pasha

# App
NEXT_PUBLIC_LIVEKIT_URL=ws://localhost:7880
